html {
    font-family: sans-serif;

}
body{
    background-color: #FBF8F1;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6rem 6rem;
    grid-auto-rows: minmax(12rem, auto);
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-template-areas:
    "a b b b b"
    "a d d d d"
    "c d d d d"
    "e d d d d"
    "e d d d d"
    "e d d d d"
    "f f f f f";
    margin-left: 5rem;
    margin-right: 5rem;
    
}

.grid-item {
    background-color: #F7ECDE;
    display: flex;
    padding: 10px;
    border-radius: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px #E9DAC1;
}

.grid-item img{
    max-width:100%;
    max-height:100%;
}

.grid-item1{
    grid-area: a;
    align-items: center;
    flex-direction: column;
}



.grid-item2{
    grid-area: b;
    align-items: center;
    justify-content: space-between;
    background-color: #9ED2C6;
    padding: 20px;
}
.grid-item2 a, .grid-item3 a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    background-color: #F7ECDE;
    padding: 20px;
    border-radius: 5px;
    transition-duration: 0.3s;
}
.grid-item2 a:hover, .grid-item3 a:hover{
    background-color: #54BAB9;
    color: white;
    transform: scale(1.1);
    box-shadow: 3px 3px black;
}


.grid-item3{
    grid-area: c;
    align-items: center;
    flex-direction: column;
    
}
.grid-item3 img{
    
    border-radius: 100px;
    background-color: gray;
    border-style: solid;
    border-color: #E9DAC1;
}
.grid-item4{
    grid-area: d;   
}
.grid-item4 .head{
    padding: 20px;
}

.grid-item5{
    grid-area: e;
    align-items: center;
    flex-direction: column;
    
}
.grid-item5 img{
    border-radius: 100px;
    background-color: gray;
    border-style: solid;
    border-color: #E9DAC1;
}
.grid-item6{
    grid-area: f;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.content-grid-index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem;
    grid-auto-rows: minmax(12rem, auto);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas:
    "a a"
    "b c"
    "d d"
    "e f";
    margin-left: 5rem;
    margin-right: 5rem;
    width: 100%;
    font-size: x-large;
}
.content-grid-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem;
    grid-auto-rows: minmax(12rem, 25rem);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas:
    "a a"
    "b c"
    "d d";
    margin-left: 5rem;
    margin-right: 5rem;
    width: 100%;
    font-size: x-large;
}

.content-grid-item img{
    max-width:100%;
    max-height:100%;
}

.content-grid-item0{ grid-area: a; }
.content-grid-item1{ grid-area: b; }
.content-grid-item2{ grid-area: c; }
.content-grid-item3{ grid-area: d; }
.content-grid-item4{ grid-area: e; }
.content-grid-item5{ grid-area: f; }

.orderpage-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.orderpage-item{
    
    width: 12rem;
    height: 12rem;
}
.orderpage-item1{
margin: auto;
padding: 25px;
transition-duration: 0.3s;
border-radius: 25rem;
text-align: center;
}

.orderpage-item a{
    font-size: 12rem;
    text-decoration: none;
}

.orderpage-item1:hover{
    transform: scale(1.1);
}

.orderpage-item1 img{
    width: 12rem;
    height: 12rem;
    border-radius: 25rem;
}