html {
    font-family: sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6rem 6rem;
    grid-auto-rows: minmax(12rem, auto);
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-template-areas:
    "a b b b b"
    "a d d d d"
    "c d d d d"
    "e d d d d"
    "e d d d d"
    "e d d d d"
    "f f f f f";
    margin-left: 5rem;
    margin-right: 5rem;
}

.grid-item {
    background-color: lightgray;
    display: flex;
    padding: 10px;
}
.grid-item1{
    grid-area: a;
    align-items: center;
    flex-direction: column;
    
    
}
.grid-item2{
    grid-area: b;
    align-items: center;
    justify-content: space-between;
    
}
.grid-item2 a{
    text-decoration: none;
    color: black;
}

.grid-item3{
    grid-area: c;
    align-items: center;
    flex-direction: column;
}
.grid-item3 img{
    border-radius: 100px;
}
.grid-item4{
    grid-area: d;
    
}
.grid-item5{
    grid-area: e;
}
.grid-item6{
    grid-area: f;
    
}