html {
    font-family: 'Averia Sans Libre';

}
body{
    background-color: #FBF8F1;
}

.load{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0;
    transform: translateY(-20px); }
    to   { opacity: 1;
        transform: translateY(0px);  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0;
        transform: translateY(-20px); }
        to   { opacity: 1;
            transform: translateY(0px);  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0;
        transform: translateY(-20px); }
        to   { opacity: 1;
            transform: translateY(0px);  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0;
        transform: translateY(-20px); }
        to   { opacity: 1;
            transform: translateY(0px);  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0;
        transform: translateY(-20px); }
        to   { opacity: 1;
            transform: translateY(0px);  }
}

.form_register div{
    margin-bottom: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6rem 6rem;
    grid-auto-rows: minmax(12rem, auto);
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-template-areas:
    "a b b b b"
    "a d d d d"
    "c d d d d"
    "e d d d d"
    "e d d d d"
    "e d d d d"
    "f f f f f";
    margin-left: 5rem;
    margin-right: 5rem;
    
}

.grid-item {
    background-color: #F7ECDE;
    display: flex;
    padding: 10px;
    border-radius: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px #E9DAC1;
}

.grid-item img{
    max-width:100%;
    max-height:100%;
}

.grid-item1{
    grid-area: a;
    align-items: center;
    flex-direction: column;
}



.grid-item2{
    grid-area: b;
    align-items: center;
    justify-content: space-between;
    background-color: #A9C4A1;
    padding: 20px;
}
.button-1{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    background-color: #E9DAC1;
    padding: 20px;
    border-radius: 5px;
    transition-duration: 0.3s;
    
}
.button-1:hover{
    background-color: #8caa83;
    color: white;
    transform: scale(1.1);
    margin-bottom: 10px;
    box-shadow: 3px 3px black;
}

.button-2{
    text-decoration: none;
    color: black;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.3s;
    
}
.button-2:hover{
    background-color: darkorange;
    color: white;
    transform: scale(1.1);
    margin-bottom: 10px;
    box-shadow: 3px 3px black;
}
.button-3{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.3s;
    
}
.button-3:hover{
    background-color: darkred;
    color: white;
    transform: scale(1.1);
    margin-bottom: 10px;
    box-shadow: 3px 3px black;
}

.button-4{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.3s;
    
}
.button-4:hover{
    background-color: darkgreen;
    color: white;
    transform: scale(1.1);
    margin-bottom: 10px;
    box-shadow: 3px 3px black;
}


.grid-item3{
    grid-area: c;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}
.grid-item3 img{
    width: 12rem;
    height: 12rem;
    border-radius: 25rem;
    background-color: gray;
    border-style: solid;
    border-color: #E9DAC1;
}
.grid-item4{
    grid-area: d;  
    height: fit-content;
}
.flex{
    display: flex;
    flex-direction: column;
}
.grid-item4 .head{
    padding: 20px;
}

.grid-item5{
    grid-area: e;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}
.grid-item5 img{
    width: 12rem;
    height: 12rem;
    border-radius: 25rem;
    background-color: gray;
    border-style: solid;
    border-color: #E9DAC1;
}
.grid-item6{
    grid-area: f;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.content-grid-index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem;
    grid-auto-rows: minmax(12rem, auto);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas:
    "a a"
    "b c"
    "d d"
    "e f";
    margin-left: 5rem;
    margin-right: 5rem;
    width: 100%;
    font-size: x-large;
}
.content-grid-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem;
    grid-auto-rows: minmax(12rem, 25rem);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas:
    "a a"
    "b c"
    "d d";
    margin-left: 5rem;
    margin-right: 5rem;
    width: 100%;
    font-size: x-large;
}

.content-grid-item img{
    max-width:100%;
    max-height:100%;
}

.content-grid-item0{ grid-area: a; }
.content-grid-item1{ grid-area: b; }
.content-grid-item2{ grid-area: c; }
.content-grid-item3{ grid-area: d; }
.content-grid-item4{ grid-area: e; }
.content-grid-item5{ grid-area: f; }

.orderpage-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.orderpage-item{
    width: auto;
    height: auto;
    
    margin-left: 2rem;
    margin-right: 2rem;
    
}
.orderpage-item1{
display: flex;
padding: 25px;
transition-duration: 0.3s;
text-align: center;
flex-direction: column;
border-radius: 2rem;
}

.orderpage-link{
    background-color: #E9DAC1;
    text-decoration: none;
    color: black;
}

.orderpage-link:hover{
    margin-bottom: 20px;
    transform: scale(1.1);
}

.orderpage-item1 img{
    width: 12rem;
    height: 12rem;
    border-radius: 25rem;
}

.table{
    
}
.table th{
    padding: 10px;
}
.table td{
    padding: 10px;
}